{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid px-0">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-01.png' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10 text-start">
<!--                                    <p class="fs-5 fw-medium text-primary text-uppercase animated slideInRight">25 Years of Working Experience</p>-->
                                    <div class="col-md-9 col-lg-7 col-xl-6 content-inverse">
                                    <h1 class="display-6 text-white mb-5 animated slideInRight" style="font-family:Oswald,Helvetica,Arial,sans-serif !important; font-size:52px;">More than Power Supplies & EMI/EMC Filters</h1>
                                        <p class="animated slideInRight">With more than 60 years of experience as a Power Supply and EMI Filter manufacturer, our team can provide unmatched engineering support to take your product from design to production.</p>
                                    <a href="" class="mt-3 btn py-3 px-5 animated slideInRight" style="background-color:var(--primary); color:white;">Explore More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
 <div class="container-fluid py-5" style="background-color:#e7ecf1;">
    <div class="row g-5 pt-5">
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="col-md-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid text-center" src="{% static 'img/ASM202.webp' %}">
            </div>
        </div>
        <div class="col-lg wow fadeRight" data-wow-delay="0.5s">
            <h1 class="display-6 mb-4">ASM202: Up to 240 Watts of Regulated DC Output Power</h1>
            <p class="mb-4">The AstrodyneTDI ASM202 series power supplies offer a compact, high-power-density
                solution for medical and industrial uses, supporting AC and DC inputs. With an input range of
                80 to 264 VAC or 120 to 380 VDC, they provide up to 240 Watts of regulated DC power.
                These units feature a remote on/off for convenience and are designed with a focus on safety
                and efficiency.</p>
            <a href="" class="mt-3 btn py-2 px-5 wow slideInRight" data-wow-delay="0.1s" style="background-color:var(--primary); color:white;">Learn More</a>
        </div>
    </div>
</div>
    <!-- About End -->

    <!-- product Start -->
<div class="container-xxl py-5">
    <div class="container" style="max-width:1140px">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="#">
                <div class="team-item">
                    <div class="box">
                        <img src="https://www.astrodynetdi.com/hubfs/AST_Theme_Files_2020/client-images/power-supplies/icons/products/power-supplies.png" alt="Icon" height="70%" width="70%" class="icon" style="color:blue;"> <!-- Your icon here -->
                        <h2 class="heading">Power Supplies By Coolant Type</h2> <!-- Your heading here -->
                        <p class="description">Each of these cooling techniques can provide a temperature management solution that increases the effectiveness and efficiency of the application.</p> <!-- Your description here -->
                        <strong class="description">Find a solution <i class="bi bi-arrow-right"></i></strong> <!-- Your description here -->
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt=""> <!-- Your image here -->
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="#">
                <div class="team-item">
                    <div class="box">
                        <img src="https://www.astrodynetdi.com/hubfs/AST_Theme_Files_2020/client-images/power-supplies/icons/products/power-supplies.png" alt="Icon" height="70%" width="70%" class="icon" style="color:blue;"> <!-- Your icon here -->
                        <h2 class="heading">Power Supplies By Coolant Type</h2> <!-- Your heading here -->
                        <p class="description">Each of these cooling techniques can provide a temperature management solution that increases the effectiveness and efficiency of the application.</p> <!-- Your description here -->
                        <strong class="description">Find a solution <i class="bi bi-arrow-right"></i></strong> <!-- Your description here -->
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt=""> <!-- Your image here -->
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="#">
                <div class="team-item">
                    <div class="box">
                        <img src="https://www.astrodynetdi.com/hubfs/AST_Theme_Files_2020/client-images/power-supplies/icons/products/power-supplies.png" alt="Icon" height="70%" width="70%" class="icon" style="color:blue;"> <!-- Your icon here -->
                        <h2 class="heading">Power Supplies By Coolant Type</h2> <!-- Your heading here -->
                        <p class="description">Each of these cooling techniques can provide a temperature management solution that increases the effectiveness and efficiency of the application.</p> <!-- Your description here -->
                        <strong class="description">Find a solution <i class="bi bi-arrow-right"></i></strong> <!-- Your description here -->
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt=""> <!-- Your image here -->
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="#">
                <div class="team-item">
                    <div class="box">
                        <img src="https://www.astrodynetdi.com/hubfs/AST_Theme_Files_2020/client-images/power-supplies/icons/products/power-supplies.png" alt="Icon" height="70%" width="70%" class="icon" style="color:blue;"> <!-- Your icon here -->
                        <h2 class="heading">Power Supplies By Coolant Type</h2> <!-- Your heading here -->
                        <p class="description">Each of these cooling techniques can provide a temperature management solution that increases the effectiveness and efficiency of the application.</p> <!-- Your description here -->
                        <strong class="description">Find a solution <i class="bi bi-arrow-right"></i></strong> <!-- Your description here -->
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt=""> <!-- Your image here -->
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="#">
                <div class="team-item">
                    <div class="box">
                        <img src="https://www.astrodynetdi.com/hubfs/AST_Theme_Files_2020/client-images/power-supplies/icons/products/power-supplies.png" alt="Icon" height="70%" width="70%" class="icon" style="color:blue;"> <!-- Your icon here -->
                        <h2 class="heading">Power Supplies By Coolant Type</h2> <!-- Your heading here -->
                        <p class="description">Each of these cooling techniques can provide a temperature management solution that increases the effectiveness and efficiency of the application.</p> <!-- Your description here -->
                        <strong class="description">Find a solution <i class="bi bi-arrow-right"></i></strong> <!-- Your description here -->
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt=""> <!-- Your image here -->
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="#">
                <div class="team-item">
                    <div class="box">
                        <img src="https://www.astrodynetdi.com/hubfs/AST_Theme_Files_2020/client-images/power-supplies/icons/products/power-supplies.png" alt="Icon" height="70%" width="70%" class="icon" style="color:blue;"> <!-- Your icon here -->
                        <h2 class="heading">Power Supplies By Coolant Type</h2> <!-- Your heading here -->
                        <p class="description">Each of these cooling techniques can provide a temperature management solution that increases the effectiveness and efficiency of the application.</p> <!-- Your description here -->
                        <strong class="description">Find a solution <i class="bi bi-arrow-right"></i></strong> <!-- Your description here -->
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt=""> <!-- Your image here -->
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="content-container mt-4 wow fadeInUp" data-wow-delay="0.5s">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-xl-7">
              <h2>Custom Solutions</h2>
            <p class="fs_12">A variety of technical requirements can prevent you from finding the perfect off-the-shelf solution. At Astrodyne TDI we have the advanced tools and technology to design and modify power supplies and EMI filters to meet your unique requirements.</p>
            <p>&nbsp;</p>
                </div>
                <div class="col-md col-xl-2">
                  <p><a href="https://www.astrodynetdi.com/custom-solutions" class="btn btn-red" rel=" noopener">Find a Custom Solution</a></p>
                </div>
          </div>
        </div>
    </div>
</div>
    <!-- product End -->

    <!-- Demand Start -->
<div class="custom_height bg-red-dark">
  <div class="container" style="max-width:1140px;">
    <div class="row align-items-center m_t">
      <div class="col-md content-section order-md-last">
        <img src="https://www.astrodynetdi.com/hubfs/Conforming%20to%20SEMI%20F47%20Voltage%20Sag%20Tolerance-1.jpg" alt="Conforming to SEMI F47 Voltage Sag Tolerance-1">
      </div>
      <div class="col-md content-inverse content-section links-inverse">
        <div class="wow slideInLeft" data-wow-delay="0.1s">
            <h6 style="color: #da291c;">On-Demand Training&nbsp;</h6>
            <h2 class="text-white"><span>"EVERY&nbsp;SYSTEM ENGINEER&nbsp;DESERVES A&nbsp;GOOD NIGHT SLEEP"</span></h2>
            <p class="text-white fs_14">Overcome your power and EMC challenges with a powerful system solution, perfect for your product application. Specifying and sourcing the right parts to develop the best power configuration can take time away from design and overwhelm electrical engineers, which can add delays to project timelines and have a major budget impact.</p>
            <p class="text-white"><a href="/events/designing-a-complete-power-system" class="text-white">Register Now <i class="bi bi-arrow-right"></i></a></p>
        </div>
      </div>
    </div>
    <div class="row align-items-center m_b">
      <div class="col-md content-section">
        <img src="https://www.astrodynetdi.com/hubfs/Conforming%20to%20SEMI%20F47%20Voltage%20Sag%20Tolerance.jpg" alt="Conforming to SEMI F47 Voltage Sag Tolerance">
      </div>
      <div class="col-md content-inverse content-section links-inverse">
        <div class="wow slideInRight" data-wow-delay="0.2s">
            <h6 style="color: #da291c;">Semiconductor Capital Equipment Power</h6>
            <h2 class="text-white">Conforming to SEMI F47 Voltage Sag Tolerance</h2>
            <p class="text-white fs_12">Power supplies used in semiconductor manufacturing equipment are generally required to conform to the SEMI F47-0706 voltage sag tolerance standard. These standard details the conditions under which a power supply must continue to operate in the event of a temporary degradation of its single-phase AC input voltage level. (SEMI F47 does not apply to three-phase input power supplies.)</p>
            <p class="text-white"><a href="/news/conforming-to-semi-f47-voltage-sag-tolerance" class="text-white">Tell me more</a></p></div>
      </div>
    </div>
  </div>
</div>
    <!-- Demand End -->

    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- Service Start -->
    <div class="container-xxl custom_height">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="fw-medium mb-2">Applications</h1>
                <p class="fs_12">Astrodyne TDI delivers power and EMI filter solutions to a diverse array of markets and industries world-wide.</p>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-md-2 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Civil & Gas Engineering</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                            </div>
                        </div>
                        <a class="btn btn-light" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Power & Energy Engineering</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                            </div>
                        </div>
                        <a class="btn btn-light" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Plumbing & Water Treatment</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                            </div>
                        </div>
                        <a class="btn btn-light" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Plumbing & Water Treatment</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                            </div>
                        </div>
                        <a class="btn btn-light" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


{% endblock %}