{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}


<!--Write your code here-->

<div class="container mt-5  ">
    <div>
        <h1>AC/DC OPEN FRAME</h1>
    </div>
    <div class="table-responsive-lg">
    <table class="table caption-top">
          <caption class="">Items 1-10 of 372</caption>
        <thead class="">
            <tr >
                    <th> </th>
                    <th>PART NUMBER</th>
                    <th>Description</th>
                    <th></th>
                    <th>OUTPUT VOLTAGES</th>
                    <th>OUTPUT CURRENT (A)</th>
                    <th>OUTPUT POWER (W)</th>
                    <th>INPUT VOLTAGE RANGE</th>
                    <th>ISOLATION (INPUT-OUTPUT)</th>
                    <th>FORM FACTOR</th>
                    <th> </th>
            </tr>
        </thead>
        <tbody class="text-ig-start">
            <tr>
                <td><img src="https://store.astrodynetdi.com/media/catalog/product/cache/76b07c464b93d30414480fc8d7743cf9/u/s/usp225p1_3.jpg"></td>
                <td>USP-225-24AS</td>
                <td>225W Single Output Supply with PFC; USP225</td>
                <td>24</td>
                <td>9.400</td>
                <td>225.00</td>
                <td>90-264VAC</td>
                <td>90-264VAC</td>
                <td></td>
                <td>Open Frame</td>
                <td><div class="d-grid gap-2 col-12 mx-auto ">
                    <button class="btn btn-primary input-group-text"" type="button">Request a Quote</button>
                    <button class="btn btn-primary" type="button">Datasheet</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}