
    <!-- Footer Start -->
    <div class="container-fluid bg-dark bg-image footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5" style="max-width:1130px;">
            <div class="content-container border-btm-blue">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-xl-7 content-inverse">
             <h2 class="text-white">Now you have power.</h2>
                <p class="fs_12">Simplify your experience with a team that can support your versatile power and EMI Filter requirements.</p>
            </div>
            <div class="col-md col-xl-2 content-inverse">
             <p><a href="/contact-us/" class="btn btn-red" rel=" noopener">Contact us </a></p>
            </div>
          </div>
        </div>
            <div class="mt-5 row g-5">
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-white mb-3 text-left">ASTRODYNETDI</h6>
<!--                    <p class="mb-2 fs_12">Astrodyne TDI designs and manufactures innovative Power and EMI filter solutions-->
<!--                        for demanding applications worldwide.</p>-->
                    <ul style="list-style:none; padding-left:0rem;">
                        <li class="text-left mb-1 fs_12" style="padding-left:0rem;">Astrodyne TDI designs and manufactures innovative Power and EMI filter solutions
                        for demanding applications worldwide.</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-white mb-3 text-left">PRODUCTS</h6>
                    <ul style="list-style:none; padding-left:0rem;">
                        {% for product in dropdown_product %}
                        <li class="text-left mb-1 footer_text_color" style="padding-left:0rem;"><a href="/product/{{product.slug}}/">{{product.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-white mb-3 text-left">APPLICANTS</h6>
                    <ul style="list-style:none; padding-left:0rem;">
                        {% for application in dropdown_application %}
                        <li class="text-left mb-1 footer_text_color" style="padding-left:0rem;"><a href="/application/{{application.slug}}">{{application.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-white mb-3 text-left">CONTACT</h6>
                    <ul style="list-style:none; padding-left:0rem;">
                        <li class="text-left mb-1 footer_text_color" style="padding-left:0rem;"><a href="#"><i class="fab fa-facebook-f" style="margin-right: 5px;"></i> Facebook</a></li>
                        <li class="text-left mb-1 footer_text_color" style="padding-left:0rem;"><a href="#"><i class="fab fa-twitter" style="margin-right: 5px;"></i> Twitter</a></li>
                        <li class="text-left mb-1 footer_text_color" style="padding-left:0rem;"><a href="#"><i class="fab fa-linkedin-in" style="margin-right: 5px;"></i> Linkedln</a></li>
                        <li class="text-left mb-1 footer_text_color" style="padding-left:0rem;"><a href="#"><i class="fab fa-youtube" style="margin-right: 5px;"></i> YouTube</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-image py-4">
        <div class="container text-center">
            <p class="mb-2">Copyright &copy; <a class="fw-semi-bold" href="/">Astrodynetdi</a>, All Right Reserved.</p>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-red btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

